includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 8

	paths:
		- admin
		- includes
		- ruby-markup-converter.php
		- uninstall.php

	excludePaths:
		- vendor/*
		- node_modules/*
		- editor/build/*
		- phpstan-stubs.php

	bootstrapFiles:
		- phpstan-stubs.php
