includes:
	- vendor-dev/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 8

	paths:
		- admin
		- includes
		- ruby-markup-converter.php
		- uninstall.php

	excludePaths:
		- vendor-dev/*
		- vendor/*
		- node_modules/*
		- editor/build/*
