.rubymaco-bouten {
	display: inline;
}

.rubymaco-bouten--custom {
	display: inline;

	.rubymaco-bouten__char {
		position: relative;
		display: inline-block;

		&::before {
			position: absolute;
			left: 50%;
			top: -0.65em;
			transform: translateX(-50%);
			font-size: 0.5em;
			line-height: 1;
			white-space: nowrap;
			pointer-events: none;
		}
	}

	&.rubymaco-bouten--dot {
		.rubymaco-bouten__char::before {
			content: "•";
		}
	}

	&.rubymaco-bouten--sesame {
		.rubymaco-bouten__char::before {
			content: "﹅";
		}
	}
}

.rubymaco-bouten--text-emphasis {
	-webkit-text-emphasis-position: over right;
	text-emphasis-position: over right;

	&.rubymaco-bouten--dot {
		-webkit-text-emphasis: filled dot;
		text-emphasis: filled dot;
	}

	&.rubymaco-bouten--sesame {
		-webkit-text-emphasis: filled sesame;
		text-emphasis: filled sesame;
	}
}